.small-banner {
  transition: transform 0.5s ease;
}

.small-banner:hover {
  transform: scale(1.03);
}
.modal-content{
    background-color: antiquewhite;



}


.img-modal{
    width:400px;
}



 @media screen and (max-width: 600px) {
    .img-modal {
      float: none;
      width: 120px;
    }


    @media screen and (max-width: 600px) {
        .modal-dialog{
          float: none;
          width: 220px;
        }

        @media screen and (max-width: 600px) {
            .modal-body{
                background-color: antiquewhite;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }





.modal-body{
  background-color: antiquewhite;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}
.img-cbanner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 350px;
  transition: transform 0.5s ease;
}

.img-cbanner:hover {
  transform: scale(1.08);
}

.discount-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  transition: transform 0.5s ease;
}

.discount-section:hover {
  transform: scale(1.08);
}
